<%- include("partials/header.ejs")%>

<div class="SignIN" >
<h1 id="SignupForm">Signup</h1>


<form action="/register" method="POST">

	<div class="form-group">
	<label for="username">Name:</label>
	<input class="form-control" type="text" name="username" placeholder="username">
	<label for="password">Password:</label>
	<input class="form-control" type="password" name="password" placeholder="Sshhh! it will be secret">
	<button  class="btn btn-success">Register!</button>

</div>
</form>
</div>
<span><img class="s1" src="/undraw_fill_forms_yltj 1.svg"></span>












<%- include("partials/footer.ejs")%>
